<%= render partial: 'shared/flash' %>

<%= form_for(@custom_field, html: { class: 'form-horizontal' }) do |f| %>
  <%= render partial: 'shared/errors', locals: { object: @custom_field } %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-xs-2' %>
    <div class="col-xs-10"><%= f.text_field :name, class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :field_type, class: 'control-label col-xs-2' %>
    <div class="col-xs-10">
      <%= f.select(:field_type, [['Text', 'text'], ['Text Area', 'text_area'], ['Select', 'select']], { prompt: '' }, { 'data-control' => 'type' }) %>
    </div>
  </div>

  <div class="form-group hide" data-group='select'>
    <%= f.label :value, class: 'control-label col-xs-2' %>
    <div class="col-xs-10"><%= f.text_field :value, class: 'form-control', placeholder: 'Fill the select options using , as separator' %></div>
  </div>

  <div class="actions">
    <%= f.submit('Create', class: 'btn btn-primary') %>
  </div>
<% end %>



