<%= render partial: 'shared/flash' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td>
          <%= link_to "<span class='glyphicon glyphicon-search'></span>".html_safe, contact %> |
          <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_contact_path(contact) %> |
          <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, contact, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Contact', new_contact_path %>
